<% provide(:title,"勤怠編集画面" ) %>

<div>
  
  <h1>勤怠編集画面</h1>
  <%= form_for(@user, url: attendance_update_all_path, method: :post) do |f| %>
  <table class = "table-bordered table-striped table-condensed">

  <thead>
 
  <thead>
      <tr>
        <th width = "7%">日付</th>
        <th width = "9%">曜日</th>
        <th width = "18%">出社</th>
        <th width = "18%">退社</th>
        <th width = "13%">在社時間</th>
        <th width = "15%">備考</th>
        <th width = "15%">残業指示</th>
        <th width = "14%">指示者</th>
      </tr>
  </thead>

  </thead>
  
  <tbody>
    
    <%= hidden_field_tag :id, @user.id %>
    <%= hidden_field_tag :first_day, @first_day %>
      <% @attendances.each do |d| %>
        <%= fields_for "attendances[]", d do |tf| %>
          <tr>
            <!--日付-->
            <td class = "attendance_date"><%= d.attendance_date.to_s(:attendance_date) %></td>
            <!--曜日-->
            <td class = "attendance_date"><%= @youbi[d.attendance_date.wday] %></td>
            <!--出勤-->
            <td><%= tf.time_field :arriving_at, class: "form-control tf" %></td>
            <!--退勤-->
            <td><%= tf.time_field :leaving_at, class: "form-control tf" %></td>
            <!--在社時間の秒計算-->
            <td><%= working_hours(d.arriving_at,d.leaving_at) if d.arriving_at.present? && d.leaving_at.present? %></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
  </tbody>

  </table>

  <center>
   
    <%= f.submit "編集内容を更新", style:"width:300px", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "キャンセル", user_url(@user, params:{first_day: @first_day }),\
    style:"width:300px", class: "btn btncancel btn-default" %>
    
  </center>

  
</div>